@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

body {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    font-size: 15px;
}

html,
body,
#app,
.p-component {
    font-family: "Inter", sans-serif !important;
}


/* Ví dụ: dùng Roboto */
:root {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}


.app-container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: inherit;
    background: #F7F8F9;
}

.app-content {
    margin: 8px;
    min-height: 100%;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html ::-webkit-scrollbar {
    display: none;
}

.p-tabview-panels {
    padding: 0 !important;
}

.p-toast-message-text {
    text-align: left;
}

#template {
    background-color: #06b649;
}

.background {
    width: 100%;
    height: 100%;
}

.login_box {
    width: 70%;
    /*height: 40%;*/
    position: absolute;

    /*overflow: auto;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.login_box .left {
    width: 41%;
    /*height: 100%;*/
    padding: 25px 25px;

}

.login_box .right {
    width: 59%;
    /*height: fit-content;*/
    resize: both;
}

.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}

.left .top_link {
    height: 20px
}

.left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #222222;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}


.right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
}

.right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}

.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}





div#login_page {
    background: url(./img/bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    float: left;
}

.justify-content-center {
    justify-content: center !important;
}

.row {
    --cui-gutter-x: 1.5rem;
    --cui-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--cui-gutter-x)* -.5);
    margin-right: calc(var(--cui-gutter-x)* -.5);
    margin-top: calc(var(--cui-gutter-y)* -1);
}

.container {
    --cui-gutter-x: 1.5rem;
    --cui-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--cui-gutter-x)* .5);
    padding-right: calc(var(--cui-gutter-x)* .5);
    width: 100%;
}

.wraplogin {
    width: 550px;
    margin: 0 auto;
    max-width: 90%;
}

.main_login {
    background: #fff;
    border: 4px solid #ff9800;
    border-radius: 20px;
    box-shadow: 0 5px 15px #00000059;
    padding: 15px;
}

.img_lg {
    width: 100%;
}

.main_login h4 {
    color: #3f51b5;
    font-family: initial;
    font-family: Be Vietnam Pro, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px 0;
}

.main_login h5 {}

.main_login h5 {
    color: red;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}

/*img.img_l {*/
/*    margin-left: 44px;*/
/*}*/

img.img_r {
    float: right;
    margin-right: 50px;
}

.img_lg {
    float: left;
    margin-bottom: 20px;
}

.main_login {
    margin-top: calc(50vh - 200px);
}

.it_lg input {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px 15px;
}

.it_lg.it_lgbt button {
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif !important;
    text-align: center;
    padding: 12px 20px;
}

div#header {
    width: 100%;
    float: left;
    background: #06b649;
    /* nền trắng phần header hiện tại */
    border-bottom: 3px solid #ffffff;
    /* line xanh chạy hết header */
    box-sizing: border-box;
}


#header .menubar {
    background-color: #06b649;
    /* nền trắng */
    /* line xanh dưới thanh menu */
}


.wrap_header {
    width: 90%;
    margin: 0 auto;
}

.logouts {
    width: 200px;
    text-align: right;
    float: left;
}

.menubar {
    width: calc(100% - 200px);
    float: left;
}

.menubar ul li {
    display: inline-block;
    position: relative;
}

.menubar ul li::after {
    content: "";
    position: absolute;
    right: 0;
    /* sát mép phải */
    top: 50%;
    /* giữa theo chiều dọc */
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    /* 50% chiều cao li -> vạch ngắn hơn */
    background-color: #bbafaf;
}


.menubar ul {
    padding-left: 0;
    text-align: left;
    margin: 0;
}

.menubar ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
}

.menubar ul li a span {
    margin-right: 6px;
    font-size: 22px;
}

.menubar ul li a:hover {
    background: #ffffff !important;
    color: #06b6499c !important;
    border-color: #06b649 !important;
}

.logouts button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 10px;
    background: #e73125;
    font-family: 'Be Vietnam Pro';
    margin-top: 4px;
}

.on_choose {
    width: 100%;
    float: left;
    padding: 15px 10%;
    background: #06b6494f;
}

.on_tables {
    width: 100%;
    float: left;
}

.it_3 {
    width: 30%;
    float: left;
}

.it_3>label {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 300;
}

.menubar ul li a.router-link-active {
    background: #ffffff !important;
    color: #06b649 !important;
}

div#app {
    position: relative;
    min-height: 100vh;
    width: 100%;
    float: left;
    height: auto;
}

div#fotter {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2b3462;
    z-index: 2;
}

.on_taihinh {
    margin-top: 20vh;
}

.on_red label {
    font-size: 20px;
    font-weight: 500 !important;
    font-style: italic;
}

h2.tt_page {
    padding: 35px 0;
    text-align: center;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px;
    color: #06b649;
    position: relative;
}

button.p-button {
    font-family: 'Be Vietnam Pro';
}

div#fotter p {
    font-size: 14px;
    color: #cfc8c8;
    margin: 7px 0;
}

.main-content {
    width: 100%;
    float: left;
    min-height: calc(100vh - 75px);
    background: #fff;
    position: relative;
}

table.p-datatable-table tr,
table.p-datatable-table td {
    font-family: 'Be Vietnam Pro';
}

.p-datatable .p-datatable-thead>tr>th {
    background: #8080804f;
}

.p-datatable .p-datatable-tbody>tr {
    background: #f1f1f180;
}

nav.p-paginator-bottom span,
nav.p-paginator-bottom button {
    font-family: 'Oswald' !important;
    color: #3F51B5;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
    background: #f1f1f1;
}

.main-content:after {
    content: "";
    width: 40%;
    padding-bottom: 38%;
    position: absolute;
    left: 30%;
    top: 10%;
    left: 30%;
    background-size: 100% auto;
    z-index: 1;
    opacity: 0.05;
}

h2.tt_page:after {
    content: "";
    width: 300px;
    height: 50px;
    position: absolute;
    left: calc(50% - 150px);
    background: url(./img/line.png);
    background-size: 100% 100%;
    top: 55px;
}

.main-content:after {
    content: "";
}

.main-content>div {
    position: relative;
    z-index: 9;
    background: transparent;
}

.p-panel .p-panel-content {
    background: transparent !important;
}

.it_3.it_ccc {
    margin: 0px 5%;
}

.field-radiobutton {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    float: left;
    color: #3F51B5;
    font-size: 18px;
    font-weight: 400 !important;
}

.field-radiobutton label {
    font-weight: 400;
}

.on_cals {
    width: 100%;
    float: left;
}

.on_cals span#date {
    width: 100%;
}

.it_3 span.p-input-icon-right {
    width: 100%;
    float: left;
}

div#dichvu {
    width: 100%;
    font-family: 'Be Vietnam Pro' !important;
}

.on_it {
    width: 100%;

    float: left;
}

.it_3 {
    width: 30%;
    float: left;
}

.on_choose {
    width: 100%;
    FLOAT: LEFT;
}

.on_tables {
    width: 100%;
    float: left;
}

.it_3>label {
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Oswald';
    margin-bottom: 3px;
}

.it_3 .p-dropdown {
    color: #111827;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    width: 100%;
    text-align: left;
}

.p-dropdown .p-dropdown-label {
    color: #ffffff;
    /* chữ trắng */
}

/* Placeholder (khi chưa chọn gì) – nếu muốn trắng luôn */
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #ffffff;
}

.it_3 span.p-inputtext {
    font-family: 'Be Vietnam Pro';
}

.it_3.it_bk {
    text-align: right;
}

.it_3.it_bk button.p-button {
    margin-top: 30px;
}

.tum_lunm {
    width: 100%;
    float: left;
}

.it_3 .p-multiselect {
    width: 100%;
    text-align: left;
    font-family: 'Be Vietnam Pro';
    color: #333 !important;
}

.it_full {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.it_full>label {
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Oswald';
    margin-bottom: 3px;
}

.it_full textarea#message {
    width: 100%;
}

.it_bt {
    width: 100%;
    float: left;
    margin: 30px 0;
}

.on_tn.on_choose {
    margin-top: 10vh;
    background: transparent;
}

ul.p-tabview-nav {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.p-tabview .p-tabview-nav li {
    display: inline-block;
}

li.p-tabview-header a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro';
    font-weight: 600;
}



.p-tabview-title {
    color: #06b649;
}

.ps {
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 11px;
    font-size: 18px;
}

.it_3 .p-slider.p-component.p-slider-horizontal {
    margin-top: 50px !important;
}

.p-panel .p-panel-header {
    background: #fff;
    border: none;
}

.p-fluid .p-inputtextarea {
    background-color: #fff;
    border: 1px solid #e5e7eb;
}

.p-panel .p-panel-header .p-panel-title {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    font-size: 18px;
}

.pannel_tk {
    width: 100%;
    float: left;
}

.pannel_tk .p-panel-content {
    padding: 20px;
    box-sizing: border-box;
    border: none;
}

.pannel_tk .p-panel-content>.p-fluid {
    width: 100%;
    display: inline-block;
    alignment-baseline: alphabetic;
}

.it_6 {
    width: 48%;
    float: left;
    margin-bottom: 30px;
}

.it_6:nth-child(2n) {
    margin-left: 4%;
}

.it_6>label {
    width: 190px;
    display: inline-block;
    float: left;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    color: #25699f;
}

.on_it6 {
    width: calc(100% - 190px);
    float: left;
}

.on_full {
    width: calc(100%);
    float: left;
}

.p-accordion-header-action {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    text-transform: uppercase;
}

.p-panel-content .p-field>label {
    text-align: left;
}

.p-on_it6s button.p-button.p-component {
    display: inline-block;
    width: auto;
    float: right;
}

.p-toggleable-content .p-field>label {
    text-align: left;
    width: 100%;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 17px;
}

.p-fluid-left {
    max-width: 80%;
    float: left;
}

.p-fluid-right {
    height: 460px;
    width: 20%;
    float: left;
}

#tabs_tn2 {
    background-color: #fff;
}

.p-accordion p-component {
    background-color: rgb(0, 0, 0);
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: #fff;
}

.p-accordion .p-accordion-content {
    background-color: #fff;
}

.p-inputtext {
    background-color: #fff;
    color: #334059;
}

.p-fluid .p-dropdown {
    background-color: #fff;
}

.p-accordion .p-accordion-tab:first-child .p-accordion-header .p-accordion-header-link {
    background-color: #fff;

}


/* nền sáng tối */
/* ================= THEME LIGHT / DARK ================= */
/* Mặc định: theme tối là code hiện tại => không cần đổi gì.
   Chỉ override khi html[data-theme='light'] */

/* Nền tổng thể + màu chữ chính / phụ */
html[data-theme='light'] body {
    background: #f9fafb;
    color: #111827;
}

html[data-theme='light'] label,
html[data-theme='light'] .customer-list__toolbar .hint {
    color: #6b7280;
}

html[data-theme='light'] .customer-name,
html[data-theme='light'] .customer-list__toolbar .title {
    color: #111827;
}

/* TabView – header, tab active */
html[data-theme='light'] .p-tabview .p-tabview-nav {
    background: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

html[data-theme='light'] .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: transparent;
    color: #6b7280;
    border: 1px solid transparent;
}

/* tab active */
html[data-theme='light'] .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #ffffff;
    color: #111827 !important;
    border-color: #e5e7eb;
    border-bottom: 3px solid #e5e7eb !important;
    /* button chính, tab active */
}

/* hover tab */
html[data-theme='light'] .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
    background-color: #22c55e;
    color: #111827 !important;
}

/* ink bar xanh lá */
html[data-theme='light'] .p-tabview .p-tabview-ink-bar {
    background: #16a34a !important;
}

/* Nền khu nội dung TabPanel */
html[data-theme='light'] TabPanel {
    background: #f9fafb;
}

/* Customer list, khung bên phải/bên trái */
html[data-theme='light'] .customer-list,
html[data-theme='light'] .customer-list-fluid-right {
    background: #ffffff;
    border: 1px solid #e5e7eb;
}

html[data-theme='light'] .customer-list__toolbar {
    background: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

html[data-theme='light'] .customer-item {
    border-bottom: 1px solid #e5e7eb;
}

/* Ô nội dung tin nhắn bên trái (textarea) – nếu muốn sáng hơn */
html[data-theme='light'] #message {
    background-color: #f9fafb !important;
    color: #111827 !important;
    border: 1px solid #e5e7eb !important;
}

/* Button chính, button PrimeVue (BaseButton cũng thường là .p-button) */
html[data-theme='light'] .p-button {
    background: #16a34a !important;
    border-color: #16a34a !important;
    color: #ffffff !important;
}

html[data-theme='light'] .p-button:hover:not(:disabled),
html[data-theme='light'] .p-button:active:not(:disabled) {
    background: #22c55e !important;
    /* hover, active */
    border-color: #22c55e !important;
}

/* Các button "chọn hình" dùng class .btn-pick-image cũ vẫn chạy tốt,
   nhưng nếu muốn cho chúng theo theme mới: */
html[data-theme='light'] .btn-pick-image {
    background: #16a34a !important;
    border-color: #16a34a !important;
}

html[data-theme='light'] .btn-pick-image:hover:not(:disabled) {
    background: #22c55e !important;
    border-color: #22c55e !important;
}

/* Border chung */
html[data-theme='light'] .p-inputtext,
html[data-theme='light'] .p-dropdown,
html[data-theme='light'] .p-inputmask,
html[data-theme='light'] .p-inputtextarea,
html[data-theme='light'] .p-inputgroup,
html[data-theme='light'] .p-panel {
    border-color: #e5e7eb;
}

/* Panel "Thiết kế khung chính / thành phần" nền sáng */
html[data-theme='light'] .p-panel-content {
    background: #f9fafb;
}